export STACKIT_SERVICE_ACCOUNT_KEY='<your_service_account_key_json>'
export STACKIT_PROJECT_ID='<your_project_id>'

export GOPATH=$HOME/go
# export GOPROXY="https://<your_corporate_proxy>" # Usable with Alpaca (to solve issues with Corporate's Proxy)
# export NO_PROXY="localhost,127.0.0.1" # Usable with Alpaca (to solve issues with Corporate's Proxy)
# export GONOSUMDB=*
# export GONOSUMCHECK=*
